<div class="new-view-header-wrapper", style= "background-image: url('https://www.vitamix.com/media/other/images/x5-Unexpected-Cocktail-Ingredients-Main.jpg.pagespeed.ic.TnfazBRtsn.jpg');>> ">
  <div class="new-view-header">
    <h1>New explosive cocktail !</h1>
    <%= link_to "Back to my list of cocktails", cocktails_path, class: "link-back-to-list" %>
  </div>
  <hr>
</div>
  <div class="form">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Add this cocktail", class: "button-add" %>
    <% end %>
  </div>

