<div class="show-view-cocktail-header">
  <h1><%= @cocktail.name %></h1>
  <%= link_to "Back to my list of cocktails", cocktails_path, class: "link-back-to-list" %>
</div>

<div class="show-view-cocktail-content">
  <% @cocktail.doses.each do |dose| %>
    <p>Doses : <%= dose.description %> - <%= dose.ingredient.name %></p>
     <%= link_to 'Delete dose', dose_path(dose), method: :delete %>
  <% end %>
</div>

<div>
  <%= link_to "Add another magic dose to my cocktail", new_cocktail_dose_path(@cocktail), class: "button-add" %>
</div>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
